:root {
  --min-width: 37.5rem;
  --max-width: 144rem;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font: "Outfit", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
  background-color: var(--light-gray);
  min-height: 100vh;
  font-family: var(--font);
  background-color: rgb(16 16 16);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container {
  width: 100%;
  max-width: var(--min-width);
  border-radius: 2rem;
  box-shadow: 1.4px 1.4px 2.2px rgba(0, 0, 0, 0.014),
    3.3px 3.3px 5.3px rgba(0, 0, 0, 0.02), 6.3px 6.3px 10px rgba(0, 0, 0, 0.025),
    11.2px 11.2px 17.9px rgba(0, 0, 0, 0.03),
    20.9px 20.9px 33.4px rgba(0, 0, 0, 0.036),
    50px 50px 80px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  background-color: #1d1f25;
}

.flex-btns {
  display: flex;
  justify-content: space-between;
  font-size: 90%;
}

.submit-button {
  text-align: center;
  background-color: rgb(42 45 53);
  margin-top: 25px;
  padding: 15px;
  border-radius: 35px;
}

.hovered {
  background-color: white;
  color: orange;
}

.nbr-button {
  background-color: rgb(42 45 53);
  padding: 15px 20px 15px 20px;
  border-radius: 35px;
}

.hoverednbr {
  background-color: orange;
  color: white;
}

.roundStar{
  background-color: rgb(42 45 53);
  padding: 15px 15px 15px 15px;;
  border-radius: 35px;
}